$max-width: 650px;

body {
  background-color: rgba(174, 252, 255, 0.75);
}

.container {
  margin: 0;
  padding: 0;
  header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    @media (max-width: $max-width) {
      width: 100%;
      flex-direction: column;
    }
    .logo {
      width: 60vw;
      @media (max-width: $max-width) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 20px;
        @media (max-width: $max-width) {
          width: 80%;
          max-width: none;
          margin: 0 auto;
        }
      }
    }
    nav.navbar {
      display: flex;
      ul {
        display: flex;
        width: 35vw;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        @media (max-width: $max-width) {
          width: 100%;
        }
        li {
          list-style: none;
          a {
            color: #232323;
            text-decoration: none;
          }
        }
      }
    }
  }
}